{% extends "base.html" %}

{% block titulo %}Contacto{% endblock %}

{% block contacto %}
    <a class="nav-item active nav-link" href="{% url 'contacto' %}">Contacto</a> {% endblock contacto %}

{% block cabecera %}<h1 class="text-center pt-2">ERROR 404 - Página no encontrada</h1>{% endblock %}



{% block contenido %}

    <h5 class="text-center py-2">Al parecer disfrutaste DEMASIADO de nuestros productos...</h5>

    <div class="tenor-gif-embed mx-auto" data-postid="5114829" data-share-method="host" data-width="75%"
         data-aspect-ratio="1.0309278350515463"><a href="https://tenor.com/view/confused-john-travolta-gif-5114829">Confused
        John Travolta GIF</a> from <a href="https://tenor.com/search/confused-gifs">Confused GIFs</a></div>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock contenido %}